<div class="container">
  <div class="box">
        
    <% resource.submissions.build if resource.submissions.empty? %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
       
     
          <%= f.fields_for :submissions do |submission_form| %>
          <div class="submit">
            <div class="form-group">
              <%= submission_form.label :business, "What industry are you in?" %>
              <%= submission_form.text_field :business, class: "form-control", :autofocus => true  %>
            </div>

             <div class="form-group">
              <%= submission_form.label :name, "What's your startup's name?" %>
              <%= submission_form.text_field :name, class: "form-control" %>
            </div>
        
            <div class="form-group">
              <%= submission_form.label :url, "What's your startups url?" %>
              <%= submission_form.text_field :url, class: "form-control"  %>
            </div>
          

            <div class="form-group">
              <%= submission_form.label :description, "Describe your business." %>
              <%= submission_form.text_area :description, class: "form-control" %>
            </div>
          </div>
          <% end %>

          <div class="btn btn-lg btn-primary submit" id="hide">Next</div>

        <br>

     <div class="hide" id="next">
      <h2>Create your account.</h2>
        <div class="from-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: "form-control", :autofocus => true  %>
        </div>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: false, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>


   

       <%= render "devise/shared/links" %>

  </div>
</div>
