
<div class="box">
    <table class="table table-striped">
        <thead>
          <th></th>
          <th></th>
        </thead>

        <tbody>
          <% @industries.each do |industry| %>
          <tr>
            <td>
              <ul>
                <ol><strong>Industry:</strong> <%= industry.name %></ol>
                <ol><strong>Categories:</strong> <%= industry.categories.count %></ol> 
                <ol><strong>Owner:</strong> <%= industry.user.name if industry.user %></ol>
              </ul>
            </td> 

            <td>
            <%= link_to 'View', industry, class: "btn btn-xs btn-success" if policy(industry).show? %>
            <% if industry.user === current_user %>
            <%= link_to 'Edit', edit_industry_path(industry), class: "btn btn-xs btn-primary" if policy(industry).update? %></a>
            <%= link_to 'Delete', industry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger"  if policy(industry).destroy? %>
            </td>
            <% end %>
          </tr>
              
          <% end %>
       </tbody>
     </thead>
   </table>

    <br>


    <% if user_signed_in? %>
      <% if policy(Industry).new? %>
      <%= link_to 'New Industry', new_industry_path, class: "btn btn-primary" %>
      <% else %>
       <a href="mailto:alex@kehaya.com">Want to add your industry? Contact me for access.</a>
       <% end%>

    <% else %>
       <a href="mailto:alex@kehaya.com">Want to add your industry? Contact me for access.</a>
    <% end %>
 
   
</div>

