<div class="container">
	<div class="box">

		<p>
		  <strong>User:</strong>
		  <%= @submission.user.name %>
		  <%= @submission.user.email %>
		</p>
		<p>
		  <strong>Industry:</strong>
		  <%= @submission.business %>
		</p>
		<p>
		  <strong>Business Name:</strong>
		  <%= @submission.name %>
		</p>
		<p>
		  <strong>Business URL:</strong>
		  <%= link_to @submission.url, @submission.url %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @submission.description %>
		</p>
		

		<%= link_to 'Edit', edit_submission_path(@submission) %> |
		<%= link_to 'Back', submissions_path %>
	</div>
</div>