<% @categories.each do |category| %>
  
    <h4><%= category.name %></h4>
    <h4>Number of startups found: <%= category.startups.count %></h4>
    
    <%= link_to 'View Report', [category.industry, category], class: "btn btn-lg btn-success" if policy(category).show? %>
      <% if user_signed_in? %>
      
    <%= link_to 'Edit', edit_industry_category_path(category.industry, category), class: "btn btn-xs btn-primary" if policy(category).update? %>
  
    
    <%= link_to 'Delete', [category.industry, category], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" if policy(category).destroy?  %>
 
  <% end %>
<% end %>
    <br>

    <% if user_signed_in? %>
      <% if policy(Category).new? %>
      <%= link_to 'New Category', new_industry_category_path(@industry), class: "btn btn-primary" %>
      <% else %>

      <a href="mailto:alex@kehaya.com">Want to add your category? Contact me for access.</a>
      <% end %>

    <% else %>
    <% end %>  
    




