
<div class="panel panel-default">
    <div class="panel-heading">
      <h1>Industry: <%= @industry.name %></h1>
  </div>
    <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of startups</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td><%= category.startups.count %></td>
                
                <td><%= link_to 'View', [category.industry, category], class: "btn btn-default" if policy(category).show? %>
                  <% if user_signed_in? %>
                  
                <%= link_to 'Edit', edit_industry_category_path(category.industry, category), class: "btn btn-default" if policy(category).update? %>
              
                
                <%= link_to 'Destroy', [category.industry, category], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" if policy(category).destroy?  %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="center">
          
        </div>
      </div>

    <br>


  <div class="panel-footer">
    <% if user_signed_in? %>
      <%= link_to 'New Category', new_industry_category_path(@industry), class: "btn btn-primary" if policy(Category).new? %>
        <% else %>
      <%= link_to "Sign up to add your own category", new_user_registration_path %>
    <% end %>  
  </div>
</div>



