

   
      <h1><%= @industry.name %></h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of startups</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td><%= category.startups.count %></td>
                
                <td><%= link_to 'View', [category.industry, category], class: "btn btn-default" if policy(category).show? %>
                  <% if user_signed_in? %>
                  
                <%= link_to 'Edit', edit_industry_category_path(category.industry, category), class: "btn btn-default" if policy(category).update? %>
              
                
                <%= link_to 'Delete', [category.industry, category], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" if policy(category).destroy?  %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
       
   

    <br>

    <% if user_signed_in? %>
      <% if policy(Category).new? %>
      <%= link_to 'New Category', new_industry_category_path(@industry), class: "btn btn-primary" %>
      <% else %>

      <a href="mailto:alex@kehaya.com">Want to add your category? Contact me for access.</a>
      <% end %>

    <% else %>
       <a href="mailto:alex@kehaya.com">Want to add your category? Contact me for access.</a>
    <% end %>  
    




