<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= render partial: "startups/startups", locals: {startupable: @category} %>
<%= render partial: "startups/form", locals: {startupable: @category} %>



<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
